    @**Partial för undersida med headerbild*@
    <header>
        <img src="images/herobild.webp" alt="">
        <form action="adopt.html">
        <a asp-action="Adoption" class="heroBtn">Adoptera nu!</a>
    </form>
    </header>