@model List<moment2.Models.DogModel>
@{
    ViewData["Title"] = "Adoption";
}

<main>
<h1>Adoption</h1>
    <div class="pinkLine"></div>
<p>Adoption hos Hunddrömmar erbjuder en andra chans till hundar och en möjlighet till kärlek för familjer. Varje adoption är en ny början, fylld med glädje och hopp. Vårt mål är att skapa varaktiga band och lyckliga hem</p>


</main>
  @Html.Partial("_DogList")